* {
  align-content: center;
}


img {
  float: left;
}

section {
  margin: 0 auto;
  clear: both;
}

#title h1 {
  font-size: 30px;
}

#cayla {
  margin-top: 20px;
}
section h1 {
  margin-bottom: 10px;
  font-size: 18px;
  margin-top: 10px;
  font-size: 20px;
}

section:nth-child(even)>h1 {
  text-align: right;
  font-size: 20px;
}

#cayla-pic, #adrian-pic{
  float: right;
  margin-left: 20px;
}

#remi-pic, #khalid-pic{
  margin-right: 20px;
}

#cayla-pic{
  height: 160px;
  width: 160px;
}

#khalid-pic {
  height: 160px;
  width: 160px;
}

#adrian-pic {
  height: 160px;
  width: 160px;
}
#remi-pic {
  height: 160px;
  width: 160px;

}
