* {
  border: 2px solid orange;
}

section {
  width: 825px;
}

div {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
}


.background-img {
  position: relative;
}

.character-img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  display: none;
}

aside {
  text-align: center;
}

#next-round-button, #play-again-button {
  display: none;
  margin: 0 auto;
}
